@import "../../../utils/styles/mixins.scss";
@import "../../../utils/styles/variables.scss";
.dropdown-select {
    .dropdown-select__field {
        display: flex;
        width: calc(100% - 10px);
        border-radius: 6px;
        padding: 2px 5px;
        align-items: center;
        cursor: pointer;
        min-height: 40px;
        background: $white;
        border: 1px solid $gray-disabled;
        position: relative;

        &:before {
            content: "";
              @include background('../../../assets/_images/vector-black.png',no-repeat,initial,inline-block,absolute,15px,'');
              background-position: center;
              @include dimention(10px, 18px);
              transform: rotate(90deg);
              margin-left: 12px;
          }

        &.disabled {
            pointer-events: none;
            background: transparent;
            color: $eerie_black;
            min-height: auto;
            padding: 0;
            border: 0;

            &:before {
                display: none;
            }

            .dropdown-select__fieldlabel {
                background: transparent;
                padding: 0;
                margin: 0;

                .multi-close {
                    display: none;
                }
            }
        }
        &:focus {
            border: 1px solid $celtic_blue;
        }

        input {
            font-family: $SC_Prosper_Sans_Medium;
            border: 0;
            width: 100%;
            @include font-size(16);
            &:focus-visible {
                outline: 0;
            }
        }

        .dropdown-select__fieldlabel {
            padding: 5px;
            border-radius: 6px;
            line-height: 19px;
            @include font-size(16);
            margin: 3px 30px 3px 5px;
            background: $celtic_light_blue;
            color: $dark;
            display: flex;
            align-items: center;
            span.multi-close {
                padding: 0 5px 0 10px;
                @include background("../../../assets/_images/cross.png", no-repeat, "", inline-block, "", "", "");
                background-position: right;
                @include dimention(9px, 9px);
            }
        }
    }
    .dropdown-select__background {
        position: fixed;
        background-color: rgb(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;

        .dropdown-select__bg-curve {
            height: 40px;
            background-color: $davys_gray;
            width: calc(100% - 45px);
            border-radius: 30px;
            margin: auto;
            margin-top: 10px;
        }
        .dropdown-select__popup {
            background-color: $white;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            margin-top: -25px;

            > div {
                width: 100%;
            }

            .dropdown-select__header {
                display: flex;
                padding: 10px 15px;
                border-bottom: 1px solid $gray-disabled;
                margin-bottom: 30px;
                width: calc(100% - 30px);
                div {
                    &:first-child {
                        margin-right: 10px;
                        text-align: center;
                        width: calc(100% - 55px);
                    }
                }
                .close {
                    position: absolute;
                    background-image: url("../../../assets/_images/mask.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    @include dimention(25px, 25px);
                    right: 10px;
                    top: 34px;
                    cursor: pointer;
                }
            }
            .dropdown-select__search {
                font-family: $SC_Prosper_Sans_Medium;
                display: flex;
                align-items: center;
                padding: 0 10px;
                width: calc(100% - 20px);

                label {
                    margin-bottom: 0;
                    margin-right: 10px;
                    background-image: url("../../../assets/_images/search.png");
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                input {
                    width: 100%;
                    min-height: 22px;
                    border-radius: 5px;
                    border: 1px solid $gray-disabled;
                    padding: 10px;
                    margin-bottom: 0;
                    background: url("../../../assets/_images/search.png") no-repeat right;
                    background-color: $white;
                    background-size: 16px;
                    background-origin: content-box;

                    &:focus-visible {
                        outline: none;
                        border: 1px solid $celtic_blue;
                    }
                }

                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration {
                    display: none;
                }
            }
            .max-count {
                color: $lava;
                @include font-size(12);
            }
            .dropdown-select__expand {
                width: calc(100% - 30px);
                overflow: auto;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                height: calc(100vh - 160px);
                padding: 15px;

                &::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
                &::-webkit-scrollbar-button {
                    background: transparent;
                    height: 0;
                }
                &::-webkit-scrollbar-track-piece {
                    background: $white_smoke;
                }
                &::-webkit-scrollbar-thumb {
                    background: $spanish_gray;
                    border-radius: 5px;
                }

                .dropdown-select__item {
                    display: flex;
                    border-bottom: 1px solid $gainsboro;
                    background: $white;
                    padding: 15px 12px;
                    align-items: center;

                    input {
                        width: 24px;
                        height: 24px;
                        border: 2px solid $davys_gray;
                        border-radius: 50%;
                        margin: 0;
                        &:checked {
                            border: 2px solid $celtic_blue;
                        }
                        &:before {
                            content: "";
                            display: block;
                            width: 12px;
                            height: 12px;
                            margin: 4px auto;
                            border-radius: 50%;
                        }
                        &:checked::before {
                            background: $celtic_blue;
                        }
                    }

                    label {
                        display: block;
                        padding: 0 10px;
                        margin-bottom: 0 !important;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .remove-button {
        color: $celtic_blue;
        float: right;
        cursor: pointer;
        position: relative;
        padding-right: 20px;

        &:before {
            content: "";
            background-color: transparent;
            @include background("../../../assets/_images/delete.png", no-repeat, 100%, inline-block, absolute, 0, 0);
            @include dimention(16px, 16px);
        }
    }
}
.dropdown-select {
    .dropdown-select__field:has(+ .error-msg) {
        border: 1px solid $lava;
    }
}
@media only screen and (min-width: 768px) {
    .dropdown-select {
        .dropdown-select__background {
            .dropdown-select__bg-curve {
                display: none;
            }
            background-color: rgb(0, 0, 0, 0.8);
            .dropdown-select__popup {
                border-radius: 20px;
                background-color: $white;
                margin: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 600px;
                padding: 0 0 20px;

                .dropdown-select__expand {
                    min-height: 200px;
                    max-height: calc(100vh - 201px);
                    height: inherit;
                }
                .dropdown-select__header {
                    div {
                        &:first-child {
                            width: calc(100% - 35px);
                        }
                    }
                    .close {
                        top: 10px;
                    }
                }
            }
        }
    }
}

