/* Color codes */

$dark: rgb(0, 0, 0);
$white: #ffffff;
$light_gray: #f9f9f9;
$dim_gray: #6b6e73;
$spanish_gray: #939393;
$anti_flash_white: #eeeeee;
$davys_gray: #555555;
$azure: #0f7aed;
$lemon_chiffon: #ffface;
$lava: #d0021b;
$raven: #717478;
$gainsboro: #dfdfdf;
$gray52: #858585;
$dark_charcoal: #333333;
$solitude: #e9ecef;
$pigment_green: #00a647;
$royal_blue: #3669f2;
$ebony: #282c34;
$turquoise_blue: #61dafb;
$lapis_blue: #1f2f87;
$congress_blue: #0a498c;
$pastel_grey: #cccccc;
$gray-disabled: #cccbcb;
$mercury: #e5e5e5;
$light_white: #e5e5e5;
$nobel: #b1b1b1;
$medium-grey: #cdcdcd;
$accent_green: #008000;
$ecru: #FFC;
$yellow_green: #38d200;
$titan_white: #EAF0F8;
$medium_electric_blue: #004EA6;
$soft_peach: #f1efef;
$accent_blue: #2772C7;
$cloud: #c5c5c5;
$blue_dress: #107BED;
$yellow_green: #37CF0A;

/* Application background */
$app_background: #fafafa;
$sing_pass_red: #E11F26;
$white_smoke: #f8f8f8;
$platinum: #e6e6e6;
$eerie_black: #191919;
$celtic_blue: #2772c7;
$spanish_green: #1f8845;
$pale_cornflower_blue: #a9c7e9;
$celtic_light_blue: rgba(39, 114, 199, 0.08);
$medium_gray:#d3d3d3;

/* Font variables */
$SC_Prosper_Sans_Medium: "SC Prosper Sans Medium";
$SC_Prosper_Sans_Bold: "SC Prosper Sans Bold";
$SC_Prosper_Sans_Light: "SC Prosper Sans Light";
$SC_Prosper_Sans_Regular: "SC Prosper Sans Regular";


